*{
  font-family: 'Signika', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

hr{
  width: 100%;
  color: gray;
}

footer{
  bottom: 0;
}

.nav-logo{
  margin-top : 10px;
  max-height: 35px;
}

.header-container{
  left: 0;
  padding-top: 5%;
  text-align: center;
  position: relative;
  width: 100%;
}

.header-row{
  padding-top: 50px;
  position: relative;
}

.header-img{
  background-size:cover;
  position:relative;
  min-height: 100%;
  padding: 0 0 20% 0;
}

.header-bg{
  width: 100%;
  min-height: 100%;
  margin: auto;
  position: fixed;
}

.bg{
  background-size:cover;
  position:relative;
  min-height: 100%;
  padding: 5% 0 5% 0;
}

.about-wrapper{
  position: relative;
  top: 10%;
}

.education-wrapper{
  position: relative;
  top: 5%;
}

.content-wrapper{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5%;
}

.bg-contact{
  margin: 0 0 0 0;
  padding : 0 0 1% 0;
  background-size:cover;
  position:relative;
  height: 40%;
  opacity: 0.8;
}

.about-border{
  height:100%;
  width:0px;
  position:relative;
  border-right:1px solid rgba(150,150,150,0.5);
}

.contact-wrapper{
  position: relative;
  margin: 0 0 0 0;
  padding: 5% 0 0 0;
  width: 100%;
}

.socmed{
  margin: 15% 0 0 1%;
}